<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pop-up.images.css}">
    <script th:src="@{/js/pop-up.images.js}"></script>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <div class="container">
        <h1 class="text-center text-dark">Order Details</h1>
        <hr class="hr-2 bg-dark">
        <table class="table table-hover mx-auto text-center" id="table_id">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Bicycle</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="bicycle, iter : ${bicycles}" th:object="${bicycle}">
                <tr>
                    <td th:text="${iter.index + 1}"></td>
                    <td>
                        <a class="image-link" th:href="*{imageUrl}">
                            <img th:src="*{imageUrl}" width="70" height="70"
                                 alt="Bicycle">
                        </a>
                    </td>
                    <td th:text="|*{make} *{model}, *{color}, *{category}, *{bicycleSize}|"></td>
                    <td th:text="*{price}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
    </div>
</main>
<div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        $('.image-link').magnificPopup({
            type: 'image',
            mainClass: 'mfp-with-zoom',

            zoom: {
                enabled: true,

                duration: 300,
                easing: 'ease-in-out',
                opener: function(openerElement) {
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }
        });
    });
</script>
</html>