<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pop-up.images.css}">
    <script th:src="@{/js/pop-up.images.js}"></script>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <div class="container">
        <h1 class="text-center text-dark">All Bikes</h1>
        <hr class="hr-2 bg-dark">
        <table class="table table-hover mx-auto text-center" id="table_id">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Make</th>
                <th>Model</th>
                <th>Color</th>
                <th>Category</th>
                <th>Size</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="bicycle, iter : ${bicycles}">
                <tr>
                    <td th:text="${iter.index + 1}"></td>
                    <td>
                        <a class="image-link" th:href="${bicycle.imageUrl}">
                            <img th:src="${bicycle.imageUrl}" width="40" height="40"
                                 alt="Bicycle">
                        </a>
                    </td>
                    <td th:text="${bicycle.make}"></td>
                    <td th:text="${bicycle.model}"></td>
                    <td th:text="${bicycle.color}"></td>
                    <td th:text="${bicycle.category}"></td>
                    <td th:text="${bicycle.bicycleSize}"></td>
                    <td th:text="${bicycle.price}"></td>
                    <td th:text="${bicycle.discount} + '%'"></td>
                    <td>
                        <a th:href="@{/bicycles/details/{id}(id=${bicycle.id})}"
                           class="btn btn-secondary font-weight-bold text-white">Details</a>
                        <a th:href="@{/bicycles/edit/{id}(id=${bicycle.id})}"
                           class="btn btn-success font-weight-bold text-white">Edit</a>
                        <a href="#" data-toggle="modal" th:data-target="'#bicycleModal' + ${iter.index + 1}"
                           class="btn btn-danger font-weight-bold text-white">Delete</a>
                        <!-- Modal -->
                        <div class="modal fade" th:id="'bicycleModal' + ${iter.index + 1}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete bicycle</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body"
                                         th:text="'Are you sure you want to delete ' + ${bicycle.make} + ' ' + ${bicycle.model} + '-' + ${#strings.toUpperCase(bicycle.color)}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form th:action="@{/bicycles/delete/{id}(id=${bicycle.id})}" th:method="patch" >
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
    </div>
</main>
<div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        $('.image-link').magnificPopup({
            type: 'image',
            mainClass: 'mfp-with-zoom',

            zoom: {
                enabled: true,

                duration: 300,
                easing: 'ease-in-out',
                opener: function(openerElement) {
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }
        });
    });
</script>
</html>